﻿@page
@model NebularMining.WebApp.IndexModel
@{
    ViewData["Title"] = "Market";
}

<section class="content-wrapper banner">
    <span class="headline">Astroid Mining - The Source Of Progression</span>
    <button>Learn More</button>
</section>

<section class="content-wrapper">
    <div class="select" id="select-region">
        <input class="select-search" v-model="regionSearch" type="text" tabindex="1" />
        <ul class="select-items">
            <li class="select-item" v-for="region in filteredRegions" v-on:click="selectedRegion = region; regionSearch = region.name">{{ region.name }}</li>
        </ul>
    </div>

    <button v-on:click="fetchStats" tabindex="2">Analyze</button>

    <table class="table-main">
        <thead>
            <tr>
                <th>Ore</th>
                <th class="currency">Price</th>
                <th class="currency">Average Price</th>
                <th class="volume">Average Sold Volume</th>
                <th class="currency">Estimated Revenue</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="marketStat in marketStats" v-if="marketStat.bestOrder" :key="marketStat.itemType.id">
                <td>{{ marketStat.itemType.name }}</td>

                <td class="currency">
                    <span v-bind:class="{ 'is-buy': marketStat.bestOrder.isBuyOrder }" class="currency-isk">{{ marketStat.bestOrder.price | float }}</span>
                    <span
                        v-bind:class="{ 'value-increased': marketStat.priceDifference > 1.0, 'value-decreased': marketStat.priceDifference < 1.0 }"
                        class="value-diff">
                        {{ ((marketStat.priceDifference - 1) * 100) | float }}%
                    </span>
                </td>
                <td class="currency currency-isk">{{ marketStat.averagePrice | float }}</td>
                <td class="volume">
                    <span class="detailed">
                        <span class="volume-m3">{{ marketStat.averageSoldVolume | float }}</span>
                        <span class="badge">{{ Math.round(marketStat.averageSoldUnits) | integer }}</span>
                    </span>
                </td>
                <td class="currency">
                    <span class="detailed">
                        <span class="currency-isk">{{ marketStat.bestOrder.estimatedRevenueNet | float }}</span>

                        <table class="badge">
                            <tr>
                                <th>Estimated Revenue</th>
                                <td class="currency-isk">{{ marketStat.bestOrder.estimatedRevenueGross | float }}</td>
                            </tr>
                            <tr>
                                <th>Broker Fee</th>
                                <td class="currency-isk" v-bind:class="{ 'currency-negative': marketStat.bestOrder.brokerFee > 0.0 }">{{ marketStat.bestOrder.brokerFee | float }}</td>
                            </tr>
                            <tr>
                                <th>Transaction Tax</th>
                                <td class="currency-isk currency-negative">{{ marketStat.bestOrder.transactionTax | float }}</td>
                            </tr>
                            <tr class="balance">
                                <th>Estimated Gain</th>
                                <td class="currency-isk">{{ marketStat.bestOrder.estimatedRevenueNet | float }}</td>
                            </tr>
                        </table>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</section>