﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>@ViewData["Title"] - Nebular Mining Industries</title>

        <link href="https://fonts.googleapis.com/css?family=Oxanium:200,300,400|Roboto:300,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="~/css/vendor/normalize.css" />
        <link rel="stylesheet" href="~/css/vendor/fontawesome/regular.css" />
        <link rel="stylesheet" href="~/css/vendor/fontawesome/solid.css" />
        <link rel="stylesheet" href="~/css/main.css" />
    </head>
    <body>
        <div id="site">

            <header>
                <div class="content-wrapper header-content">
                    <img id="logo" src="images/logo.png" />
                    <nav>
                        <ul class="nav-items">
                            <li class="nav-item"><a href="/">Home</a></li>
                            <li class="nav-item"><a href="/Market">Market</a></li>
                            <li class="nav-item-special"><a href="/Contact">Join Us</a></li>
                        </ul>
                    </nav>
                </div>
            </header>

            <main id="app">
                @RenderBody()
            </main>

            <footer>
                <div class="content-wrapper footer-content">
                    <div class="footer-section">
                        <h3>Nebular Mining Industries</h3>
                        <p>
                            Ore is the source of technological progress of New Eden.
                            Be part of the greatest inventions and join our corporation today.
                        </p>
                    </div>

                    <div class="footer-section">
                        <h3>Headquarters</h3>
                        <p>
                            Pator Tech School<br>
                            Moon 10 - Embod IV<br>
                            Meinigefur - Metropolis<br>
                            New Eden
                        </p>

                        <h4>Office Hours</h4>
                        <p>Mo-Fr 18:00 - 22:00</p>
                    </div>

                    <div class="footer-section">
                        <h3>External Links</h3>

                        <ul class="footer-links">
                            <li><a>EVE Online</a></li>
                            <li><a>EVE University</a></li>
                        </ul>
                    </div>

                    <div class="footer-section">
                        <h3>Quick Links</h3>

                        <ul class="footer-links">
                            <li><a>Home</a></li>
                            <li><a>Market</a></li>
                            <li><a>Contact</a></li>
                        </ul>
                    </div>
                </div>
            </footer>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="~/js/main.js" asp-append-version="true"></script>

        @RenderSection("Scripts", required: false)
    </body>
</html>
