<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <title>Nebular Mining Industries</title>

        <link href="https://fonts.googleapis.com/css?family=Oxanium:200,300,400|Roboto:300,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/vendor/normalize.css" />
        <link rel="stylesheet" href="css/vendor/fontawesome/regular.css" />
        <link rel="stylesheet" href="css/vendor/fontawesome/solid.css" />
        <link rel="stylesheet" href="css/main.css" />
    </head>
    <body>
        <div id="site">

            <header>
                <div class="content-wrapper header-content">
                    <img id="logo" src="images/logo.png" />
                    <nav>
                        <ul class="nav-items">
                            <li class="nav-item"><a href="/">Home</a></li>
                            <li class="nav-item"><a href="/Market">Market</a></li>
                            <li class="nav-item-special"><a href="/Contact">Join Us</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            
            <main id="app">
                <section class="content-wrapper banner">
                    <span class="headline">Astroid Mining - The Source Of Progression</span>
                    <button>Learn More</button>
                </section>
                
                <section class="content-wrapper">
                    <div class="control-group">

                        <div class="select input-group">
                            <label class="input-label">Region</label>
                            <input placeholder="Select region" class="input select-search" v-model="regionSearch" v-on:focus="regionSearch = ''; selectedRegion = null" type="text" tabindex="1" />
                            <ul class="select-items" v-if="regionSearch != null && selectedRegion == null">
                                <li class="select-item" v-for="region in filteredRegions" v-on:click="selectedRegion = region; regionSearch = region.name">{{ region.name }}</li>
                            </ul>
                        </div>

                        <div class="input-group input-unit input-unit-m3">
                            <label class="input-label">Volume</label>
                            <input placeholder="Enter volume" class="input" type="number" step="1000" tabindex="2" />
                        </div>
                    
                        <div class="input-group">
                            <label class="input-label">Security Level</label>
                            <input placeholder="Enter level" class="input" type="number" step="0.1" tabindex="3" />
                        </div>

                        <button v-on:click="fetchStats(selectedRegion)" v-bind:class="{ 'button-loading': isLoadingStats }" tabindex="4">
                            <span class="button-text">Analyze</span>
                            <span class="button-loading-text">Analyzing...</span>
                        </button>

                    </div>

                    
                    <table class="table-main">
                        <label class="table-title" v-if="loadedRegion">{{ loadedRegion.name }}</label>
                        <thead>
                            <tr>
                                <th>Ore</th>
                                <th class="currency">Price</th>
                                <th class="currency">Average Price</th>
                                <th class="volume">Average Sold Volume</th>
                                <th class="currency">Estimated Revenue</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="marketStat in marketStats" v-if="marketStat.bestOrder" :key="marketStat.itemType.id">
                                <td>{{ marketStat.itemType.name }}</td>
                
                                <td class="currency">
                                    <span v-bind:class="{ 'is-buy': marketStat.bestOrder.isBuyOrder }" class="currency-isk">{{ marketStat.bestOrder.price | float }}</span>
                                    <span
                                        v-bind:class="{ 'value-increased': marketStat.priceDifference > 1.0, 'value-decreased': marketStat.priceDifference < 1.0, 'value-stagnated': marketStat.priceDifference == 1.0 }"
                                        class="value-diff">
                                        {{ ((marketStat.priceDifference - 1) * 100) | float }}%
                                    </span>
                                </td>
                                <td class="currency currency-isk">{{ marketStat.averagePrice | float }}</td>
                                <td class="volume">
                                    <span class="detailed">
                                        <span class="volume-m3">{{ marketStat.averageSoldVolume | float }}</span>
                                        <span class="badge">{{ Math.round(marketStat.averageSoldUnits) | integer }}</span>
                                    </span>
                                </td>
                                <td class="currency">
                                    <span class="detailed">
                                        <span class="currency-isk">{{ marketStat.bestOrder.estimatedRevenueNet | float }}</span>
                
                                        <table class="badge">
                                            <tr>
                                                <th>Estimated Revenue</th>
                                                <td class="currency-isk">{{ marketStat.bestOrder.estimatedRevenueGross | float }}</td>
                                            </tr>
                                            <tr>
                                                <th>Broker Fee</th>
                                                <td class="currency-isk" v-bind:class="{ 'currency-negative': marketStat.bestOrder.brokerFee > 0.0 }">{{ marketStat.bestOrder.brokerFee | float }}</td>
                                            </tr>
                                            <tr>
                                                <th>Transaction Tax</th>
                                                <td class="currency-isk currency-negative">{{ marketStat.bestOrder.transactionTax | float }}</td>
                                            </tr>
                                            <tr class="balance">
                                                <th>Estimated Gain</th>
                                                <td class="currency-isk">{{ marketStat.bestOrder.estimatedRevenueNet | float }}</td>
                                            </tr>
                                        </table>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </main>

            <footer>
                <div class="content-wrapper footer-content">
                    <div class="footer-section">
                        <h3>Nebular Mining Industries</h3>
                        <p>
                            Ore is the source of technological progress of New Eden.
                            Be part of the greatest inventions and join our corporation today.
                        </p>
                    </div>

                    <div class="footer-section">
                        <h3>Headquarters</h3>
                        <p>
                            Pator Tech School<br>
                            Moon 10 - Embod IV<br>
                            Meinigefur - Metropolis<br>
                            New Eden
                        </p>

                        <h4>Office Hours</h4>
                        <p>Mo-Fr 18:00 - 22:00</p>
                    </div>

                    <div class="footer-section">
                        <h3>External Links</h3>

                        <ul class="footer-links">
                            <li><a>EVE Online</a></li>
                            <li><a>EVE University</a></li>
                        </ul>
                    </div>

                    <div class="footer-section">
                        <h3>Quick Links</h3>

                        <ul class="footer-links">
                            <li><a>Home</a></li>
                            <li><a>Market</a></li>
                            <li><a>Contact</a></li>
                        </ul>
                    </div>
                </div>
            </footer>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/main.js" asp-append-version="true"></script>
    </body>
</html>
