﻿/**********************/
/*       RESETS       */
/**********************/

* {
    box-sizing: border-box;
    border-radius: 0em;
    padding: 0em;
    margin: 0em;
    background: none;
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

/***********************/
/*       GLOBALS       */
/***********************/


* {
    font-family: Oxanium, sans-serif;
    font-weight: 300;
    color: #3f3f3f;
}

body {
    background-color: #e9e9e9;
}

p {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    margin-bottom: 1em;
}

table {
    border-collapse: collapse;
}

td {
    padding: 0.2em;
}


/**********************/
/*       LAYOUT       */
/**********************/


.content-wrapper {
    width: 90%;
    margin: 0em auto;
}

@media (min-width: 1450px) {
    .content-wrapper {
        width: 60%;
    }
}


#site {
    width: 100%;
    height: 100%;
}

main {
    flex: 1;
}


/**********************/
/*       HEADER       */
/**********************/


.header-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 4em 0em;
}


/**************************/
/*       NAVIGATION       */
/**************************/

.nav-items {
    list-style: none;
}

.nav-item, .nav-item-special {
    display: inline-block;
    text-align: center;
    position: relative;
    width: 15em;
    padding: 1em 0em;
    text-transform: uppercase;
}

.nav-item {
    margin: 0em -3em;
    transition: letter-spacing 0.5s;
}

.nav-item::before,
.nav-item::after {
    content: '';
    position: absolute;
    top: -0.1em;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.5s;
    border: 0.5px solid #3f3f3f00;
}

.nav-item:hover {
    letter-spacing: -0.08em;
}

.nav-item:hover::before,
.nav-item:hover::after {
    border-color: #797979ff;
}

.nav-item:hover::before {
    transform: rotate(-45deg);
}

.nav-item:hover::after {
    transform: rotate(45deg);
}


.nav-item-special {
    border: 1px solid #3f3f3fff;
    margin-left: 3em;
    transition: all 0.5s;
}


/**********************/
/*       BANNER       */
/**********************/


.banner {
    text-align: center;
}

.headline {
    display: block;
    font-size: 4em;
    text-align: center;
}


/**********************/
/*       FOOTER       */
/**********************/


footer {
    padding: 2em 0em;
    background-color: #1b1b1b;
}

.footer-content * {
    color: rgb(128, 128, 128);
    line-height: 1.2em;
}

.footer-content h3, .footer-content h4 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    color: rgba(255, 255, 255, 0.2);
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-section {
    width: 15em;
    margin: 0em;
}

.footer-links {
    list-style: none;
}

.footer-links li {
    margin-bottom: 0.4em;
}

.footer-links a {
    cursor: pointer;
    border-bottom: 1px dotted #555;
}

.footer-links a:hover {
    border-color: #ffb12a;
}


/********************/
/*      BUTTON      */
/********************/


button, select {
    cursor: pointer;
}

button {
    position: relative;
    overflow: hidden;
}

button::before {
    content: '';
    position: absolute;
    top: -1.5em;
    left: -4em;
    width: 2em;
    height: 5em;
    background-color: #ffffffff;
    transform: rotate(35deg);
}

button:focus:not(.button-loading), button:hover:not(.button-loading) {
    animation: lightup 0.8s ease-out;
}

button:focus:not(.button-loading) .button-text, button:hover:not(.button-loading) .button-text {
    animation: lightup 0.8s ease-out;
}

button:focus:not(.button-loading)::before, button:hover:not(.button-loading)::before {
    animation: shine 0.3s ease-out;
}

.button-text {
    text-align: center;
}

.button-loading-text {
    display: none;
}

.button-loading .button-loading-text {
    display: inline;
}

.button-loading .button-loading-text {
    animation: lightup 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.button-loading .button-text {
    display: none;
}

.button-loading::before {
    animation: shine 0.3s ease-out;
    animation-delay: 1s;
}

@keyframes lightup {
    from {
        color: #fff;
        border-color: #fff;
    }
    to {
        color: #3f3f3f;
        border-color: #3f3f3f;
    }
}

@keyframes shine {
    from {
        left: -4em;
    }
    to {
        left: 110%;
    }
}


/****************************/
/*      CONTROL GROUPS      */
/****************************/


.control-group {
    margin: 2em 0em;
}


.control-group > *:not(:last-child) {
    margin-right: 1em;
}


/********************/
/*      INPUTS      */
/********************/


button, select, input {
    width: 10em;
    padding: 0.5em 0em;
    border: 1px solid #3f3f3f;
}

button:focus, select:focus, input:focus {
    border-color: #ffb12a;
}

input {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.input-unit::after {
    position: absolute;
    right: 0em;
    top: -1.2em;
    font-size: 0.8em;
    font-weight: normal;
}

.input-unit-m3::after {
    content: 'm³';
    right: -0.1em;
}


.input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.input-label {
    position: absolute;
    top: -1.3em;
    left: 0em;
    /* display: block; */
    font-size: 0.9em;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.3);
}

.input-group {
    display: inline-block;
    position: relative;
}


/***************************/
/*      SEARCH SELECT      */
/***************************/


.select {
    cursor: pointer;
}

.select::after {
    content: '\25bc';
    position: absolute;
    right: 0.7em;
    top: 1.4em;
    font-size: 0.6em;
}

.select-search {
    cursor: pointer;
}


.select-items {
    /* display: none; */
    /* max-height: 10em; */
    width: 100%;
    overflow: hidden;
    position: absolute;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.3em 0em;
}

.select-item {
    padding: 0.3em 1em;
    font-size: 0.8em;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.select-item:hover {
    color: #ffb12a;
}


/*********************/
/*       TABLE       */
/*********************/

.table-title {
    display: block;
    background-color: rgb(65, 65, 65);
    color: #fff;
}

.table-main {
    width: 100%;
    border-spacing: 0em;
    border-collapse: collapse;
}

.table-main > thead > tr > th,
.table-main > tbody > tr > td
{
    padding: 0.7em;
}

.table-main > thead > tr > th:first-child,
.table-main > tbody > tr > td:first-child
{
    padding-left: 2em;
}

.table-main > thead > tr > th:last-child,
.table-main > tbody > tr > td:last-child
{
    padding-right: 2em;
}

.table-main > thead > tr > th {
    text-transform: uppercase;
    text-align: left;
    font-weight: normal;
    background-color: #ffb12a;
}

.table-main > tbody > tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.04);
}

th.currency,
td.currency,
th.volume,
td.volume,
th.units,
td.units
{
    text-align: right !important;
    white-space: nowrap;
}

tr.balance > th, tr.balance > td {
    padding-top: 0.2em;
    border-top: 1px solid #3f3f3f;
}

.currency-negative {
    color: #da0041;
}

.currency-negative:before {
    content: '-';
}

.currency-isk::after {
    content: 'ISK';
    margin-left: 0.2em;
}

.is-buy:before {
    content: '\23F5';
}

.volume-m3::after {
    content: 'm³';
    margin-left: 0.2em;
}

.badge {
    padding: 0.4em 0.4em 0.3em 0.4em;
    font-size: 0.7em;
    font-weight: normal;
    background-color: #ddd;
    border-radius: 2px;
}

.detailed {
    position: relative;
    cursor: pointer;
    /* margin-right: 0.8em; */
}

.detailed::after {
    content: '\25e5';
    /* position: absolute;
    top: -0.2em;
    left: 105%; */
    position: relative;
    top: -0.7em;
    margin-left: -0.3em;
    font-size: 0.5em;
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
}

.detailed-volume::after {
    content: '\f1b2';
}


.detailed-transaction::after {
    content: '\f4c4';
}

.detailed > .badge {
    z-index: 1000;
    position: absolute;
    top: -1em;
    left: 106%;
    display: none;
    border-bottom-left-radius: 0px;
    white-space: nowrap;
}

.detailed:hover > .badge {
    display: block;
}


.value-diff {
    display: inline-block;
    width: 6em;
    text-align: left;
    font-size: 0.6em;
    font-weight: normal;
    vertical-align: middle;
}

.value-stagnated {
    color: #555;
}

.value-increased {
    color: #009c6c;
}

.value-decreased {
    color: #da0041;
}

.value-stagnated:before {
    position: relative;
    left: -0.2em;
    margin-left: 0.4em;
    content: '\25cf';
}

.value-increased:before {
    content: '\25b2';
}

.value-decreased:before {
    content: '\25bc';
}
